# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/

# Build artifacts
/dist/
/build/

# Database files
*.db
*.sqlite

# Temporary files
tmp/
temp/

# IDE and editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.swp